body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
}

.product-card {
    width: 500px;
    /* height: 600px; */
    padding: 30px;
    margin: 10px;
    border: 3px solid grey;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    margin: 10px;
}

.f-assured-img {
    width: 100px;
    margin-top: 10px;
}

.product-details {
    padding: 15px;
    text-align: left;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.rating-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product-rating {
    width: 40px;
    padding: 2px 5px;
    background-color: #388e3c;
    color: #ffffff;
    font-size: 1em;
    border-radius: .3rem;
    margin-bottom: 10px;
}

.product-price {
    color: #388e3c;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.discounted-price {
    color: #131313;
    font-size: 1.5em;
}

.actual-price {
    color: #6c757d;
    font-size: 1.2em;
    text-decoration: line-through;
}

.discount-percentage {
    font-size: 1.2em;

}

.product-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.buy-button {
    width: 100%;
    padding: 10px 0;
    background-color: #2874f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #0b5ed7;
}