.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
}

.box {
    color: white;
    padding: 40px;
    font-size: 24px;
    text-align: center;
}