/* ===== Global Box Model ===== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

* {

    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eee;
    font-family: 'Times New Roman', Times, serif;
}

/* ===== Calculator Container ===== */
.calculator-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.calculator {
    width: 320px;
    border-radius: 10px;
    overflow: hidden;
}

/* ===== Display ===== */
.display {
    grid-column: 1 / -1;
    background-color: #ffffff;
    color: #000000;
    text-align: right;
    padding: 25px;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* ===== Buttons Grid ===== */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: bold;
    padding: 10px;
    gap: 10px;
}

/* ===== Buttons ===== */
button.btn {
    padding: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s, box-shadow 0.1s;
}

/* Button Press Effect */
button.btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/* ===== Colors ===== */
button.clear {
    background-color: red;
    font-weight: bold;

    /* red */
    color: #fff;
}

button.operator {
    background-color: #000;
    /* black */
    color: #fff;
    font-weight: bold;

}

button.number {
    background-color: #fff;
    font-weight: bold;

    /* white */
    color: #000;
}

/* Zero button spans two columns */
button.zero {
    grid-column: span 2;
    font-weight: bold;

}