.partners-section {
    overflow: hidden;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.partners-row {
    overflow: hidden;
    width: 100%;
}

.track {
    display: flex;
    gap: 3rem;
    flex-wrap: nowrap;

    /* Key for seamless loop */
    width: max-content;
}

.partner {
    min-width: 160px;
    height: 80px;
    padding: .5rem;
    border-radius: 8px;
    /* background: #f3f3f3; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.partner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Animations */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.row-1 .track,
.row-3 .track {
    animation: scroll-left 25s linear infinite;
}

.row-2 .track {
    animation: scroll-right 25s linear infinite;
}