body {
    font-family: Arial, sans-serif;
    background: #f3f6fb;

}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
}

.timetable {
    display: grid;
    grid-template-columns: 120px repeat(5, 1fr);
    grid-auto-rows: 70px;
    gap: 1em;
    /* space between cells */
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0px 0px;
    border-radius: 20em;
    /* rounded corners */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    text-align: center;
}

/* Make the very first cell (top-left) transparent */
.cell:first-child {
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
}

/* Column Colors */
.time {
    background-color: lightblue;
    font-weight: bold;
}

.monday {
    font-weight: bold;
    background-color: lightpink;
}

.tuesday {
    font-weight: bold;
    background-color: wheat;
}

.wednesday {
    font-weight: bold;
    background-color: lightpink;
}

.thursday {
    font-weight: bold;
    background-color: wheat;
}

.friday {
    font-weight: bold;
    background-color: lightpink;
}

/* Special Highlights */
.break {
    font-weight: bold;
    background-color: #ffeab6;
    font-weight: bold;
}


.note {
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: bold;
    font-size: 16px;
    min-height: 30px;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 20em;
    /* rounded corners */
    background-color: lightblue;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    text-align: center;
}